* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  position: absolute;
  top: 38%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
  font-family: "Skia", sans-serif;
  text-align: center;
  font-size: 70px;
  color: #fff;
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  z-index: 601;
}

.scroll-icon,
.scroll-icon:before {
  position: absolute;
  top: 20%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
  z-index: 600;
}

.scroll-icon {
  width: 50px;
  height: 85px;
  top: 90%;
  border: 4px solid #fff;
  border-radius: 28px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

.scroll-icon:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  top: 6px;
  left: 21px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 70px;
  }
}

.logo {
  position: absolute; /* Keeps the logo fixed in place */
  top: 0; /* Aligns to the top */
  left: 0; /* Aligns to the left */
  margin: 10px; /* Optional: Adds spacing from the edges */
  z-index: 5000; /* Ensures it stays above other content */
}

.logo img {
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintains aspect ratio */
}
